body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #d23232;
}
.box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    text-align: center;
}
.box h1{
    color: #d23232;
    text-transform: uppercase;
    font-weight: 500;
}
.box input[type = "text"],.box input[type = "password"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #d23232;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: #d23232;
    border-radius: 24px;
    transition: 0.25s;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus{
    width: 280px;
    border-color: #870000;
}
.box input[type = "submit"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    outline: none;
    color: #d23232;
    transition: 0.25s;
    cursor: pointer;
}