div.body{
    margin: auto;
    height: 400px;
    width: 800px;
    border: solid 1px blue;
}
div.kvadrati{
    height: 75px;
    width: 75px;
    border: solid 1px blue;
    background-color: aqua;
}
div.controlBody{
    margin: auto;
    min-height: 100px;
    width: 400px;
    border: solid 1px blue;
}