section{
    border: 2px solid black;
    width:550px;
    height:500;
}
div{
    border: 2px solid black;
    width: 190px;
    height: 140px;
    display: inline-block;
    margin: 10px;
    border-radius: 20px;
}
div.box1{
    background-color: #800000;
    text-align: center;
}
div.box2{
    text-align: center;
}
div.box3{
    background-color: #6192cd;
    text-align: center;
}


