section{
    border:1px solid black;
    width: 600px;
    height: 650px;
    margin-left: 10%;

}
div.box1{
    background-color: #800000;
    border: 1px solid #800000;
    width: 250px;
    height: 150px;
    margin: 10px;
    border-radius: 15px 50px 30px 5px;
}
div.box2{
    background-color: #800000;
    border: 1px solid #800000;
    width: 250px;
    height: 150px;
    margin: 10px;
    border-radius: 15px 50px 30px;
}
div.box3{
    background-color: #800000;
    border: 1px solid #800000;
    width: 250px;
    height: 150px;
    margin: 10px;
    border-radius: 15px 50px;
}