div{
    border: 1px solid black;
    width: 700px;
    height: auto;
}
h1{
    text-align: center;
}
h2{
    text-align: right;
}
hr.red{
    height: 6px;
    background-color: #ff0000;
    width: 50%; 
    margin-left: 0;
}
hr.blue{
    height: 6px;
    background-color: #00005f;
    width: 50%;
    margin-left: 0;
}
