div{
    border: 2px solid black;
    width:700px;
    height:auto;
}
p.dotted{
    border:5px dotted aqua;

}
p.dashed{
    border:8px
     dashed aqua;
}
p.solid{
    border:8px
     solid  aqua;

}
p.double{
    border:8px
     double aqua;

}
p.groove{
    border:8px
     groove aqua;

}
p.ridge{
    border:8px
     ridge aqua;

}
p.inset{
    border:8px
     inset aqua;

}
p.outset{
    border:8px
     outset aqua;

}
p.none{
    border:8px
     none;

}
p.hidden{
    border:8px
     hidden;

}
p.mix{
    border-top:5px dotted aqua;
    border-bottom: 8px solid aqua;
    border-left: 8px double aqua;
    border-right: 8px hidden;
}
